* {
    padding: 0;
     margin: 0;
}

canvas { 
    background: #c9c9c9;
    display: block;
    margin: 0 auto; 
}

ul {
  list-style: none;
}

body {
  background-color: deepskyblue;
  text-align: center;
}

.title {
  margin: 20px;
}

.txt {
  text-align: center;
  border-radius: 12px;
  border: 2px solid blue;
  margin: 15px;
  width: 140px;
  height: 50px;
  background-color: steelblue;
  font-size: 20px;
}

.txt:focus {
  outline: none;
}

.btn {
  border-radius: 12px;
  border: 2px solid blue;
  margin: 15px;
  width: 140px;
  height: 50px;
  background-color: steelblue;
  font-size: 20px;
}

.btn:focus {
  outline:none;
}
